﻿@page
@model webStore.Pages.App.CreateModel
@{
}
<h1 class="text-info">Create Application</h1>
<hr />
<form method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h5 class="d-inline-block">Icon App Select:</h5>
                <input type="file" id="imgInp" class="mb-2 d-inline-block" asp-for="Upload" />
                <img id="blah" src="~/images/defalut.png" alt="your image" width="150" height="150" style="border-radius:25px;" />
                @*<img src="" class="img-fluid mb-2" width="150" height="150" style="border-radius:25px;" />*@
            </div>
            <div class="col-9">
                <div class="form-group row">
                    <label for="" class="col-sm-3 col-form-label">Name Application</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="Name Application" asp-for="appstore.Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-3 col-form-label">Name Title</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="Name title" asp-for="appstore.Title">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Category</label>
                    <div class="col-sm-9">
                        <select class="custom-select" asp-items="Model.CategorySelectList" asp-for="SelectedCetegoryId">
                            <option selected>-- Select Category --</option>
                            @*@foreach (var category in Model.Categories)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }*@
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-12">
                <div class="d-inline-block"><h3 class="text-dark font-weight-bold">ScreenShots</h3></div>
                <div class="d-inline-block ml-4">
                    <ul class="nav nav-pills" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="ipad-tab" data-toggle="tab" href="#ipad" role="tab" aria-controls="ipad" aria-selected="true"><i class="fas fa-tablet-alt" style="font-size:25px;"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="mobile-tab" data-toggle="tab" href="#mobile" role="tab" aria-controls="mobile" aria-selected="false"><i class="fas fa-mobile-alt" style="font-size:25px;"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="ipad" role="tabpanel" aria-labelledby="ipad-tab">
                        <div class="row mt-3">
                            <h6 class="d-inline-block ml-3">Ipad Screenshot Select:</h6>
                            <input type="file" multiple id="gallery-photo-add" class="ml-3 mb-2 d-inline-block" asp-for="UploadIpadFile">
                            <div class="gallery row"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="mobile" role="tabpanel" aria-labelledby="mobile-tab">
                        <div class="row mt-3">
                            <h6 class="d-inline-block ml-3">Mobile Screenshot Select:</h6>
                            <input type="file" multiple id="mobile-photo-add" class="ml-3 mb-2 d-inline-block" asp-for="UploadMobileFile">
                            <div class="gallerymobile row"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <h3 class="text-dark font-weight-bold">Application Details</h3>
        <div class="form-group row">
            <label for="" class="col-sm-3 col-form-label">Details</label>
            <div class="col-sm-9">
                <textarea type="text" class="form-control" placeholder="Application Details" asp-for="appstore.Detail"></textarea>
            </div>
        </div>
        <hr />
        <div class="d-inline-block"><h3 class="text-dark font-weight-bold">Version Description</h3></div>
        <div class="form-group row">
            <label for="" class="col-sm-3 col-form-label">Version Details</label>
            <div class="col-sm-9">
                <textarea type="text" class="form-control" placeholder="Version Details"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-3 col-form-label">Version Date</label>
            <div class="col-sm-9">
                <input type="date" class="form-control" placeholder="Name Application">
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-3 col-form-label">Version Number</label>
            <div class="col-sm-9">
                <input type="number" class="form-control" placeholder="Version Number">
            </div>
        </div>
        <hr />
        <div class="d-flex justify-content-between">
            <div>
                <h3 class="text-dark font-weight-bold">Information</h3>
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-3 col-form-label">Provider</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" value="" placeholder="Provider Application" asp-for="appstore.InformationProvider">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-3 col-form-label">Size</label>
            <div class="col-sm-9">
                <input type="number" class="form-control" value="" placeholder="Size Application">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-3 col-form-label">Compatibility</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" value="" placeholder="Compatibility Application" asp-for="appstore.InformationCompatibility">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-3 col-form-label">Languages</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" value="" placeholder="Languages Application" asp-for="appstore.InformationLanguages">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-3 col-form-label">Copyright</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" value="" placeholder="Copyright Application" asp-for="appstore.InformationCopyright">
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <input type="submit" class="btn btn-success" value="Submit" />
            <a class="btn btn-danger ml-2" asp-page="/App/MyApp" asp-route-username="admin">Cancel</a>
        </div>
    </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    $("#imgInp").change(function () {
        readURL(this);
    });

    $(function () {
        // Multiple images preview in browser
        var imagesPreview = function (input, placeToInsertImagePreview) {

            if (input.files) {
                var filesAmount = input.files.length;

                for (i = 0; i < filesAmount; i++) {
                    var reader = new FileReader();

                    reader.onload = function (event) {
                        $($.parseHTML('<img class="img-fluid ml-2 col-2 mt-2">')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
                    }

                    reader.readAsDataURL(input.files[i]);
                }
            }

        };

        $('#gallery-photo-add').on('change', function () {
            $("div.gallery").empty();
            imagesPreview(this, 'div.gallery');
        });
        $('#mobile-photo-add').on('change', function () {
            $("div.gallerymobile").empty();
            imagesPreview(this, 'div.gallerymobile');
        });
    });
</script>