﻿@page
@model webStore.Pages.App.MyAppModel
@{
}
<h1 class="text-info">MyApplication</h1>
<hr />
<div class="container">
    <a class="btn btn-md btn-success text-white mb-3" asp-page="/App/Create" asp-area=""><i class="fas fa-plus"></i>&nbsp; Add Application</a>
    <div class="row">
        @foreach (var app in Model.vAppstores)
        {
            <a asp-page="/App/Preview" asp-route-id="@app.Id" class="col-3" style="text-decoration:none">
                <input type="hidden" value="@app.Id" />
                <img src="@app.IconWebPath" class="img-fluid mb-2" width="150" height="150" style="border-radius:25px;" />
                <h6 class="text-muted">@app.Name</h6>
                @*<h5 class="text-dark">@app.CategoryName</h5>*@
                <h6 class="text-muted">@app.Title</h6>
            </a>
        }
    </div>
</div>