﻿@page
@model webStore.Pages.App.PreviewModel
@{
}
<h1 class="text-info">Preview</h1>
<hr />
<div class="container">
    <div class="row">
        <div class="col-2">
            <input type="hidden" value="@Model.Appstore.Id" />
            <img src="@Model.Appstore.IconWebPath" class="img-fluid mb-2" width="150" height="150" style="border-radius:25px;" />
        </div>
        <div class="col-10">
            <div class="d-flex justify-content-between">
                <div>
                    <h5 class="text-dark">@Model.Appstore.Name</h5>
                    <h5 class="text-dark">@Model.Appstore.Title</h5>
                    <h5 class="text-muted">@Model.Appstore.CategoryName</h5>
                    <button class="btn btn-success btn-lg"><i class="fas fa-download"></i>&nbsp; Download</button>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12">
            <div class="d-inline-block"><h3 class="text-dark font-weight-bold">ScreenShots</h3></div>
            <div class="d-inline-block ml-4">
                <ul class="nav nav-pills" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="ipad-tab" data-toggle="tab" href="#ipad" role="tab" aria-controls="ipad" aria-selected="true"><i class="fas fa-tablet-alt" style="font-size:25px;"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="mobile-tab" data-toggle="tab" href="#mobile" role="tab" aria-controls="mobile" aria-selected="false"><i class="fas fa-mobile-alt" style="font-size:25px;"></i></a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="ipad" role="tabpanel" aria-labelledby="ipad-tab">
                    <div class="row mt-3">
                        @foreach (var item in Model.vScreenshots.Where(x => x.TypeFile == "ipad"))
                        {
                            <div class="col-3">
                                <img src="@item.WebPath" width="250" height="300" />
                            </div>
                        }
                    </div>
                </div>
                <div class="tab-pane fade" id="mobile" role="tabpanel" aria-labelledby="mobile-tab">
                    <div class="row mt-3">
                        @foreach (var item in Model.vScreenshots.Where(x => x.TypeFile == "mobile"))
                        {
                            <div class="col-3">
                                <img src="@item.WebPath" width="200" height="250" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <h6 class="text-muted ml-3">@Model.Appstore.Detail</h6>
    </div>
    <hr />
    <div class="d-flex justify-content-between">
        <div>
            <h3 class="text-dark font-weight-bold">What's New</h3>
        </div>
        <div class="mt-2">
            <a asp-page="" data-toggle="modal" data-target=".bd-example-modal-lg">Version History</a>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <h6 class="text-muted ml-3">@Model.Appstore.LastVersionDetail</h6>
        </div>
        <div class="mt-2">
            <h6 class="text-muted">@Model.Appstore.LastVersionNumber</h6>
        </div>
    </div>
    <hr />
    <div class="d-flex justify-content-between">
        <div>
            <h3 class="text-dark font-weight-bold">Information</h3>
        </div>
    </div>
    <div class="ml-5">
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Provider</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" value="@Model.Appstore.InformationProvider">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Size</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" value="@Model.Appstore.AndroidAppSize">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" value="@Model.Appstore.CategoryName">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Compatibility</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" value="@Model.Appstore.InformationCompatibility">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Languages</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" value="@Model.Appstore.InformationLanguages">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Copyright</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" value="@Model.Appstore.InformationCopyright">
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Version Histories</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @foreach (var item in Model.versionHistories)
                {
                    <div class="d-flex justify-content-between">
                        <div>
                            <h6 class="text-dark font-weight-bold">@item.VersionNumber</h6>
                        </div>
                        <div>
                            <h6 class="text-muted font-weight-bold">@item.VersionDate.Value.ToString("MM/dd/yyyy")</h6>
                        </div>
                    </div>
                    <p>@item.VersionDetail</p>
                    <hr />
                }
            </div>
        </div>
    </div>
</div>