﻿@page
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model webStore.Pages.Login.IndexModel
@{
    Layout = null;
    string sessionUsername = HttpContextAccessor.HttpContext.Session.GetString("Username");
    @if (sessionUsername != null)
    {
        HttpContextAccessor.HttpContext.Response.Redirect("/Index");
    }
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - webStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/fontawesome/css/all.min.css" />
</head>
<form method="post">
    <h3 class="text-dark text-center mt-3">Welcome To WebStore</h3>
    <hr />
    <div class="container mt-3">
        <div class="d-flex justify-content-center">
            <div class="col-8">
                <i class="fas fa-user-lock mb-3 d-flex justify-content-center" style="font-size:150px;"></i>
                <div class="form-group mb-2">
                    <label asp-for="User.Username"></label>
                    <input asp-for="User.Username" class="form-control" type="text" required />
                </div>
                <div class="form-group mb-2">
                    <label asp-for="User.Password"></label>
                    <input asp-for="User.Password" class="form-control" type="password" required />
                </div>
                <input type="submit" value="Login" class="btn btn-primary form-control btn-block mt-4" />
                <div class="float-right mt-3">
                    <a asp-page="">Forgot Password ?</a>
                </div>
            </div>
        </div>
    </div>
</form>
<footer class="border-top footer text-muted">
    <div class="container">
        Copyright © 2019 MAGIC SOFTWARE (THAILAND) CORP., LTD. - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>
<script>
    @if(ViewData["alerterror"] != null)
        {
            <text>alert('@ViewData["alerterror"]')</text>
        }
</script>