﻿@page
@model webStore.Pages.IndexModel
@{
}
<h1 class="text-info">Application</h1>
<hr />
<div class="container">
    @foreach (var category in Model.categories)
    {
        <div class="d-flex justify-content-between">
            <div>
                <h4 class="text-dark mb-3">@category.Name</h4>
            </div>
            <div>
                <a asp-page="/App/ViewAll" asp-route-id="@category.Id">See All</a>
            </div>
        </div>
        <div class="row">
            @foreach (var app in Model.vAppstore.Where(x => x.CategoryId == category.Id))
            {
                <a asp-page="/App/Preview" asp-route-id="@app.Id" class="col-3" style="text-decoration:none">
                    <input type="hidden" value="@app.Id" />
                    <img src="@app.IconWebPath" class="img-fluid mb-2" width="150" height="150" style="border-radius:25px;" />
                    <h6 class="text-muted">@app.Name</h6>
                    @*<h5 class="text-dark">@app.CategoryName</h5>*@
                    <h6 class="text-muted">@app.Title</h6>
                </a>
            }
        </div>
        <hr />
    }
</div>