﻿@page
@model webStore.Pages.User.CreateModel
@{
}
<h1 class="text-info">Create Member</h1>
<hr />
<div class="container">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group mb-2">
            <label asp-for="user.Username"></label>
            <input asp-for="user.Username" class="form-control" type="text" />
            <span asp-validation-for="user.Username" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="user.Password"></label>
            <input asp-for="user.Password" class="form-control" type="password" />
            <span asp-validation-for="user.Password" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="user.FirstName"></label>
            <input asp-for="user.FirstName" class="form-control" type="text" />
            <span asp-validation-for="user.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="user.LastName"></label>
            <input asp-for="user.LastName" class="form-control" type="text" />
            <span asp-validation-for="user.LastName" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="user.Email"></label>
            <input asp-for="user.Email" class="form-control" type="text" />
            <span asp-validation-for="user.Email" class="text-danger"></span>
        </div>
        <input type="submit" value="Create" class="btn btn-block btn-success" />
    </form>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}