﻿@page
@model webStore.Pages.User.IndexModel
@{
}
<h1 class="text-info">Manage Member</h1>
<hr />
<div class="container">
    <div class="d-flex justify-content-between">
        <div>
            <a class="btn btn-md btn-success text-white mb-3" asp-page="/User/Create" asp-area=""><i class="fas fa-plus"></i>&nbsp; Add Member</a>
        </div>
        <div>
            <form method="post">
                <button class="btn btn-md btn-success text-white mb-3" asp-page-handler="ExportExcel"><i class="fas fa-file-excel"></i>&nbsp; ExportExcel</button>
            </form>
        </div>
    </div>
    <table id="tableAllUser" class="table table-striped table-bordered mt-3" style="width:100%">
        <thead>
            <tr>
                <th>Username</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>CreateDate</th>
                <th>ModifyDate</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.allUser)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.CreateDate</td>
                    <td>@user.ModifyDate</td>
                    <td>
                        <form method="post">
                            <a class="btn btn-sm btn-warning text-white" data-toggle="modal" data-target="#@user.Username"><i class="fas fa-edit"></i></a>
                            <button asp-page-handler="Delete" asp-route-username="@user.Username" onclick="return confirm('Are you sure you want delete ?')" class="btn btn-sm btn-danger text-white"><i class="fas fa-trash"></i></button>
                        </form>
                        <form method="post">
                            <div id="@user.Username" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Edit @user.Username</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            @if (user.Username != null)
                                            {
                                                Model.userSelect = user;
                                            }
                                            <div class="container">
                                                <div class="form-group mb-2">
                                                    <label asp-for="userSelect.Username"></label>
                                                    <input asp-for="userSelect.Username" class="form-control" type="text" readonly />
                                                </div>
                                                <div class="form-group mb-2">
                                                    <label asp-for="userSelect.FirstName"></label>
                                                    <input asp-for="userSelect.FirstName" class="form-control" type="text" />
                                                </div>
                                                <div class="form-group mb-2">
                                                    <label asp-for="userSelect.LastName"></label>
                                                    <input asp-for="userSelect.LastName" class="form-control" type="text" />
                                                </div>
                                                <div class="form-group mb-2">
                                                    <label asp-for="userSelect.Email"></label>
                                                    <input asp-for="userSelect.Email" class="form-control" type="text" />
                                                </div>
                                                <input type="submit" value="Edit" class="btn btn-block btn-success" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>